:root {
	--color1: #0455BF;
	--color2: #0487D9;
	--color3: #F2B950;
	--color4: #F2C777;
	--color5: #F2DAC4;
}

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	background-color: var(--color2);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto;
	text-align: center;
	width: 90%;
	height: 76vh;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.705);
}

h1 {
	margin: 0 auto;
	text-align: center;
	background-color: var(--color5);
}

iframe {
	width: 98%;
	height: 70%;
}

@media (min-width: 650px) {
	iframe {
		width: 70%;
		height: 95%;
	}

	main {
		align-items: center;
	}
}